<h1>부형석의 홈페이지에 오신 것을 환영합니다</h1>

<table>
  <tr>
    <th>Title</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= link_to '보기', post_path(post) %></td>
      <% if current_user == post.user %>
        <td><%= link_to '수정', edit_post_path(post) %></td>
      <% end %>
      <% if current_user == post.user %>
        <td><%= link_to '삭제', post_path(post),
              method: :delete,
              data: { confirm: '삭제하시겠습니까?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to '새 글', new_post_path %>
<%= link_to '첫화면', root_path %>