<p>
  <strong>제목:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @post.text %>
</p>

<h4>댓글</h4>
<%= render @post.comments %>

<h4>댓글추가:</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<% if current_user == @post.user %>
  <%= link_to '수정', edit_post_path(@post) %>
<% end %>
  <%= link_to '뒤로', posts_path %>
